 <div style="margin-left: auto; margin-right: auto; width: 50%;">
        <img src="../assets/images/aboutus.png">
    </div>
<div class="col-md-6">
       <div>
                        <h4>Our Approach</h4>
                        <ul class="d_list l_tick">
                            <li>Go, See and Ask Questions </li>
                            <li>Investigate a problem along with the client team, to understand root causes and
                                brainstorm solutions</li>
                            <li>Continuously improve and simplify solutions</li>
                            <li>Be prepared to drive implementation if client requires</li>
                            <li>Make clients self-sufficient</li>
                        </ul>
                        <h4>Our Values</h4>
                        <ul class="d_list l_tick">
                            <li>Deal with the other as an equal</li>
                            <li>Make the right things happen for clients</li>
                            <li>Ensure Win^4 Company + Employees + Customers + Consumers</li>
                            <li>Keep it simple</li>
                        </ul>
                    </div>

</div>
<div class="col-right col-md-6">
    <h3>
SOME WORDS ABOUT OUR COMPANY
    </h3>
<p class="my-paragraph">We at Nyati Technologies Pvt Ltd. take pleasure in introducing ourselves as a leading organization in the field of Information and Communication Technology, e-governance, Training, Manpower Management, IT Infrastructure Development & Management. We have provided our professional services to many clients, large and small, established organization. Our clients include individuals, small and large private and public limited companies, public sector undertaking, banks and financial institution. The Nyati Technologies Pvt Ltd. is an integrated consulting-training, e-Learning ++ and IT company focused on Sales Effectiveness. We are trusted advisors and implementation partners for our clients. We work with them to equip their Sales and Distribution teams with knowledge, skills, attitude and tools/system to be more productive and brand-aligned, thus providing an outstanding customer experience.
</p>
</div>