<div class="container">
            <div class="row">
                <div class="col-md-8 col-md-offset-2">
                    <div class="section-title center">
                        <h2>Feel free to <strong>contact us</strong></h2>
                        <div class="line">
                            <hr>
                        </div>
                        <div class="clearfix">
                        </div>
                        <small><em>Nyati Technologies Pvt. Ltd. Flat no 37. Amod Apartment,B Building, Opp Shivaji
                            Nagar Police Station, FC Road, Pune 411005</em><br>
                            <em>Phone: 02025676968 / 8482951000</em><br>
                            <em>Email: tejaunsh@nyati.org</em></small>
                    </div>
                    <!--<form id="NI_MailForm" method="post" action="NI_Mail.php">-->
                    <form>
                        <div class="row">
                            <div class="col-md-6">
                                <div class="form-group">
                                    <label for="exampleInputName">
                                        Name</label>
                                    <input type="text" class="form-control" id="Name" placeholder="Enter Name"><br />
                                    <label for="exampleInputEmail1">
                                        Email address</label>
                                    <input type="email" class="form-control" id="emailid" placeholder="Enter email">
                                </div>
                            </div>
                            <div class="col-md-6">
                                <div class="form-group">
                                    <label for="exampleInputAddress">
                                        Address</label>
                                    <input type="text" class="form-control" id="address" placeholder="Enter Address"><br />
                                    <label for="exampleInputcontactno">
                                        Contact Number</label>
                                    <input type="text" class="form-control" id="contact" placeholder="Contact Number">
                                </div>
                            </div>
                        </div>
                        <div class="form-group">
                            <label for="exampleInputEmail1">
                                Message</label>
                            <textarea class="form-control" id="Message" rows="3"></textarea>
                        </div>
                        <button type="submit" class="btn tf-btn btn-default">
                            Submit</button>
                    </form>
                </div>
            </div>
        </div>
