
            <div class="container">
                <div class="section-title center">
                    <h2>
                        <strong>Career</strong>
                    </h2>
                    <div class="line">
                        <hr>
                    </div>
                </div>
                <div class="row">
                    <div class="col-md-8 col-md-offset-2">
                        <div id="testimonial" class="owl-carousel owl-theme">
                            <div class="item">
                                <p>
                                    We are looking for an .Net Developer. We have immediate work and ideally want to
                                    find a long-term partner with the possibility of full-time employment if they are
                                    interested.
                                </p>
                                <h5>TECHNICAL REQUIREMENTS
                                </h5>
                                    JS, JQuery & Ajax<br>
                                    HTML/XHTML/CSS<br>
                                    MySQL & SQL Server 2005,2008,2012<br>
                                    Windows Services<br>
                                    Windows Forms<br>
                                    MS Windows / XP / Vista / Windows 7
                                <p>
                                    <div class="job_apply_block">
                                        <a href="https://docs.google.com/forms/d/1_3kq9TV6bQ5sWO8s6AyV-ai12Za3miOJbJafw3IsPJ0/viewform?c=0&w=1&usp=mail_form_link"
                                            target="_blank" class="default_button">Apply for this job</a>
                                    </div>
                            </div>
                            <div class="item">
                                <p>
                                    We are looking for an Trainee Android developer. We have immediate work and ideally
                                    want to find a long-term partner with the possibility of full-time employment
                                </p>
                                <h5>TECHNICAL REQUIREMENTS
                                </h5>
                                    Has been doing Android App Architecture + Development using the following technology<br>
                                    Good working knowledge on Java Script<br>
                                    Having basic idea on Multiplayer Development (Google Play Services / Red5/ FMS /
                                        openfire)<br>
                                    Good understanding about Native Coding (JAVA)<br>
                                    Using Analytical tools (GA/Flurry/etc.)<br>
                                    Monetisation (IAP/Ads/Others)<br>
                                    Server side scripting + exposure to db design
                                <p>
                                    <div class="job_apply_block">
                                        <a href="https://docs.google.com/forms/d/1_3kq9TV6bQ5sWO8s6AyV-ai12Za3miOJbJafw3IsPJ0/viewform?c=0&w=1&usp=mail_form_link"
                                            target="_blank" class="default_button">Apply for this job</a>
                                    </div>
                            </div>
                            <!-- <div class="item">
                                <h5>
                                    This book is a treatise on the theory of ethics, very popular during the Renaissance.
                                    The first line of Lorem Ipsum, "Lorem ipsum dolor sit amet..", comes from a line
                                    in section 1.10.32.</h5>
                                <p>
                                    <strong>Dean Martin</strong>, CEO Acme Inc.</p>
                            </div>
                            <div class="item">
                                <h5>
                                    This book is a treatise on the theory of ethics, very popular during the Renaissance.
                                    The first line of Lorem Ipsum, "Lorem ipsum dolor sit amet..", comes from a line
                                    in section 1.10.32.</h5>
                                <p>
                                    <strong>Dean Martin</strong>, CEO Acme Inc.</p>
                            </div>-->
                        </div>
                    </div>
                </div>
            </div>
