
<div class="container">
    <div class="row">

    </div>
    <div class="row">
        <div class="common col-md-4">
            <div class="text-center icon">
                <span class="glyphicon glyphicon-edit"></span>
            </div>
            <h4 class="col-title">
                Custom Software Development
            </h4>
            <p>
                Whether you are a start-up or an established business, we are ready to assist you at every stage of the software development life cycle — from conceptualization and consulting to development and support.
            </p>
        </div>
        <div class="common col-middle col-md-4">
            <div class="text-center icon">
                <span class="glyphicon glyphicon-globe"></span>
            </div>
            <h4 class="col-title">
                Web Application Development
            </h4>
            <p>
                Our software engineers have a wealth of experience in building web applications. We are also experts in many verticals and business domains, including e-Commerce, e-Learning, AdTech, Finance, Entertainment, and more.
            </p>
        </div>
        <div class="common col-md-4">
            <div class="text-center icon">
                <span class="glyphicon glyphicon-phone"></span>
            </div>
            <h4 class="col-title">
Mobile App Development
            </h4>
            <p class="wrapper">
                    Develop powerful, highly usable mobile apps that solve business problems, attract users, and reinforce your brand. We build native, hybrid, and cross-platform apps that run on all major operating systems such as iOS and Android.
            </p>    
            
        </div>    
    </div>
</div>